// media query
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

@mixin mobile {
    @media (max-width: #{$breakpoint-tablet}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}
