@import '../../../styles/variables.module.scss';

.wrapper {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-bottom: 1px solid var(--underline);
    position: fixed;
    z-index: 1;
}

.navWrapper > ul {
    display: flex;
}

.navWrapper li {
    list-style: none;
    margin-right: 32px;
    font-weight: 500;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger {
    display: none;
}

@include desktop {
    .wrapper {
        padding: 12px 133px;
    }
    .navWrapper {
        flex: 1;
        max-width: 1000px;
        min-width: calc($breakpoint-tablet - 24px);
    }
}

@include tablet {
    .wrapper {
        padding: 12px;
    }
    .navWrapper {
        width: calc($breakpoint-tablet - 24px);
    }
}

@include mobile {
    .wrapper {
        padding: 12px;
    }
    .navWrapper {
        display: none;
    }
    .hamburger {
        display: block;
        width: 100%;
    }
}
