@import '@/styles/variables.module.scss';

.wrapper {
    width: 100%;
    min-height: calc(100vh - 200px);
    min-width: 360px;
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 64px;
}

@include desktop {
    .wrapper {
        padding: 64px 133px;
    }
    .content {
        flex: 1;
        max-width: 1000px;
        min-width: calc($breakpoint-tablet) - 24px;
    }
}

@include tablet {
    .wrapper {
        padding: 64px 12px;
    }
    .content {
        width: calc($breakpoint-tablet) - 24px;
    }
}

@include mobile {
    .wrapper {
        padding: 64px 12px;
    }
    .content {
        width: 100%;
    }
}
