@import '@/styles/variables.module.scss';

.wrapper {
    width: 100%;

    h1 {
        margin: 100px 0 20px;
        border-bottom: 1px solid var(--underline);
    }

    strong {
        display: block;
        margin-bottom: 8px;
    }
}

.career {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 18px;

    > div {
        display: flex;

        > div {
            &:first-child {
                width: 200px;
            }
        }
    }
}

.stack {
    font-size: 18px;

    > div {
        display: flex;
        align-items: center;

        > div {
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--underline);
            padding: 18px 12px;
            align-self: stretch;

            &:first-child {
            }

            &:last-child {
                flex: 1;
                flex-wrap: wrap;
                gap: 12px 8px;

                > span {
                    padding: 4px 12px;
                    background-color: var(--serenade);
                    border-radius: 16px;
                }
            }
        }
    }
}

.head {
    > div {
        display: flex;
        justify-content: center;
    }
}

@include mobile {
    .career {
        gap: 0px;

        > div {
            flex-direction: column;
            > div {
                &:last-child {
                    margin: 12px 0 20px 20px;
                    word-break: keep-all;
                }
            }
        }
    }
    .head {
        height: 0;
        visibility: hidden;
    }

    .stack {
        > div {
            flex-direction: column;
            div {
                flex: 1;
            }
        }
    }
}

@include desktop {
    .stack {
        > div {
            gap: 20px;

            > div:first-child {
                width: 200px;
            }
        }
    }
}

@include tablet {
    .stack {
        > div {
            gap: 20px;

            > div:first-child {
                width: 200px;
            }
        }
    }
}
