@import '@/styles/variables.module.scss';

.wrapper {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.itemWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.asideWrapper {
    position: sticky;
    top: 216px;
    width: 200px;
    height: 100%;
    border-left: 1px solid var(--underline);
}

.asideWrapper ul {
    width: 100%;
}

.asideWrapper li {
    list-style: none;
    margin: 0 0 12px 20px;
    padding: 4px 12px;
    background-color: var(--serenade);
    border-radius: 16px;
    width: fit-content;
    cursor: pointer;
}

@include mobile {
    .asideWrapper {
        display: none;
    }
}
