@import '../../../styles/variables.module.scss';

.wrapper {
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
    grid-gap: 12px;
}
